
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=IBM+Plex+Mono&family=Montserrat&family=Poppins&family=Ubuntu&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    height: 100vh;
    width: 100vw;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #040D12;
    position: relative;
    overflow: hidden;
  }
  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#040D12;
    min-width: 30vw ;
    min-height:30vw;
    border-radius: 50%;
    position: relative;
    z-index: 3;
  }
.rotating-div{
    min-width: 32vw;
    min-height: 32vw;
    background: conic-gradient(from 360deg at 50% 50%, #FF0037, rgba(107, 145, 222, 1), rgba(255,144,168,1), rgba(255,144,168,1), rgba(54, 214, 187, 0.14), rgba(79, 189, 105, 0), rgba(79,189,105,0));
    border-radius: 50%;
    /* border: 2vw dotted black; */
    position: absolute;
    z-index: 1;
    animation: rotate 4s linear infinite;
    animation-delay: 0ms;
}
@keyframes rotate{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: -360deg;
    }
}

  .text h1{
    display: flex;
    gap: 0.5vw;
  }
  h1{
    font-size: 3vw;
  }
  h1 span{
    animation: animate 3s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
    0%{
        color: #fff;
        filter: blur(1px) hue-rotate(0deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff,
        0 0 400px #00b3ff;
    }
    30%,70%
    {
        color: #fff;
        filter: blur(1px) hue-rotate(360deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff;
    }
    100%{
        color: transparent;
        box-shadow: none;
        filter: blur(1px) hue-rotate(0deg);
    }
}

.img{
    position: absolute;
    animation: scaleup 4s ease-in infinite;
    animation-delay: calc(0.1s * var(--j));
}
@keyframes scaleup{
    0%{
        scale: 0;
    }
    50%{
        scale: 2;
    }
    100%{
        scale: 0;
    }
}
.i1{
    top:20vh;
    left:10vw;
    width: 5vw;
}
.i2{
    top:20vh;
    left: 13vw;
    width: 20vw;
}
.i3{
    top:1vh;
    left: 17vw;
    width: 7vw;
}
.i4{
    top:1vh;
    right: 17vw;
    width: 7vw;
}
.i5{
    top:20vh;
    right: 13vw;
    width: 20vw;
}
.i6{
    top:20vh;
    right:10vw;
    width: 5vw;
}
.i7{
    top:2vh;
    left:4vw;
    width: 5vw;
}
.i8{
    top:10vh;
    left: 23vw;
    width: 20vw;
}
.i9{
    top:30vh;
    left: 1vw;
    width: 10vw;
}
.i10{
    top:2vh;
    right:4vw;
    width: 5vw;
}
.i11{
    top:10vh;
    right: 23vw;
    width: 20vw;
}
.i12{
    top:30vh;
    right: 1vw;
    width: 10vw;
}
.wish{
    position:absolute;
    bottom: 10vh;
}